* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body__header {
    max-width: 1109px;
    width: 100%;
    margin: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em;
    margin-left: 10%;
    margin-right: 11%;
}

.logo {
    max-height: 2em;
}

.logo:hover {
    transform: scale(1.2);
}

.header-container__navbar ul {
    list-style: none;
    display: flex;
    gap: 2em;
}

.header-container__navbar a {
    position: relative;
    font-family: 'Mulish';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.35px;
    text-decoration: none; 
    color: black;
}

.header-container__navbar a:hover,
.header-container__navbar a:focus-visible {
    color: #4071aa
}